@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Cửa hàng điện tử - Deal 10.10</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>
<body>

    <header>
        <div class="logo">
            <img src="~/images/logo.jpg" />
            <span>Cửa hàng điện tử</span>
        </div>

        <div class="search-bar">
            <input type="text" placeholder="Tìm kiếm sản phẩm...">
        </div>

        <div class="menu">
            <div class="menu-item">
                <i class="far fa-user"></i> <span>Đăng nhập</span>
                <div class="menu-item">
                    <i class="fas fa-shopping-cart"></i><span>Giỏ hàng </span>
                </div>
            </div>
        </div>

    </header>


    <div class="deal-banner">
        <div class="deal-left">
            <h1>10<span>DEAL</span>10</h1>
            <p>Quà ngon hết cỡ, giá sốc bất ngờ</p>
        </div>

        <div class="deal-right">
            <div class="product-card1">
                <div class="product-name">Realme 14 5G</div>
                <div class="product-desc">8GB/256GB</div>
                <div><span class="old-price">9.320.000đ</span> <span class="discount">-15%</span></div>
                <div class="new-price">7.920.000đ</div>
                <img src="~/images/do1.jpg" />
                <div class="stock">10 suất</div>
            </div>

            <div class="product-card1">
                <div class="product-name">Tai nghe Samsung</div>
                <div class="product-desc">FE R400N</div>
                <div><span class="old-price">1.950.000đ</span> <span class="discount">-49%</span></div>
                <div class="new-price">990.000đ</div>
                <img src="~/images/do2.jpg" />
                <div class="stock">10 suất</div>
            </div>

            <div class="product-card1">
                <div class="product-name">iPhone 16e</div>
                <div class="product-desc">256GB</div>
                <div><span class="old-price">19.990.000đ</span> <span class="discount">-14%</span></div>
                <div class="new-price">17.190.000đ</div>
                <img src="~/images/do3.jpg" />
                <div class="stock">10 suất</div>
            </div>

            <div class="product-card1">
                <div class="product-name">Huawei Band 9</div>
                <div class="product-desc">Đồng hồ thông minh</div>
                <div><span class="old-price">1.070.000đ</span> <span class="discount">-58%</span></div>
                <div class="new-price">450.000đ</div>
                <img src="~/images/do4.jpg" />
                <div class="stock">5 suất</div>
            </div>

            <div class="product-card1">
                <div class="product-name">HP Victus 16</div>
                <div class="product-desc">i5-13500H/16GB/512GB</div>
                <div><span class="old-price">29.090.000đ</span> <span class="discount">-31%</span></div>
                <div class="new-price">19.990.000đ</div>
                <img src="~/images/do5.jpg" />
                <div class="stock">5 suất</div>
            </div>

            <div class="product-card1">
                <div class="product-name">Đồng hồ CASIO</div>
                <div class="product-desc">LRW-200H-2BVDF</div>
                <div><span class="old-price">590.000đ</span> <span class="discount">-81%</span></div>
                <div class="new-price">110.000đ</div>
                <img src="~/images/do6.jpg" />
                <div class="stock">5 suất</div>
            </div>
        </div>
        <div class="note">
            Từ 09/10 - 15/10
        </div>
    </div>
    <section class="viewed-products">
        <h2>Sản phẩm đã xem</h2>
        <div class="product-carousel">
            <div class="product-card-small">
                <img src="https://cdn.tgdd.vn/2025/10/timerseo/323563-600x600-2.jpg" />
                <p>Samsung Galaxy M35 5G</p>
                <span class="status-out-of-stock">Ngừng kinh doanh</span>
            </div>
            <div class="product-card-small">
                <img src="https://cdnv2.tgdd.vn/mwg-static/tgdd/Products/Images/9499/327222/adapter-sac-type-c-iq3-67w-anker-a2671-thumb-1-638725591589910305-600x600.jpg" alt="Sạc Anker A2671">
                <p>Sạc Anker A2671</p>
                <span class="status-out-of-stock">Hết hàng tạm thời</span>
            </div>
            <div class="product-card-small">
                <img src="https://cdnv2.tgdd.vn/mwg-static/tgdd/Products/Images/9499/326147/adapter-sac-type-c-iq3-45w-anker-a2643-thumb-1-638708195943942279-600x600.jpg" alt="Sạc Anker A2643">
                <p>Sạc Anker A2643</p>
                <span class="status-out-of-stock">Hết hàng tạm thời</span>
            </div>
            <div class="product-card-small">
                <img src="https://cdnv2.tgdd.vn/mwg-static/tgdd/Products/Images/44/328950/asus-vivobook-15-oled-a1505va-i9-ma586ws-170225-112950-659-600x600.jpg" alt="Asus Vivobook">
                <p>Asus Vivobook 15 OLED</p>
                <span class="price">21.190.000đ</span>
            </div>
        </div>
    </section>

    <section class="flash-sale">
        <div class="flash-sale-header">
            <h2><i class="fa fa-bolt"></i> FLASH SALE GIÁ SỐC</h2>
            <div class="countdown-timer">
                <span>Chỉ còn:</span>
                <span class="time-box">00</span> :
                <span class="time-box">33</span> :
                <span class="time-box">10</span>
            </div>
        </div>
        <div class="product-grid flash-sale-grid">
            <div class="product-card-large">
                <img src="https://cdn.tgdd.vn/2025/10/timerseo/331205-600x600-2.jpg" alt="Samsung Galaxy A16">
                <h3>Samsung Galaxy A16 4GB/128GB</h3>
                <div class="price-container">
                    <span class="current-price">4.500.000đ</span>
                    <span class="original-price">5.000.000đ</span>
                    <span class="discount-badge">-10%</span>
                </div>
                <div class="progress-bar">
                    <div class="progress" style="width: 80%;"></div>
                </div>
                <span>Còn 2/10 suất</span>
            </div>
            <div class="product-card-large">
                <img src="https://cdn.tgdd.vn/2025/10/timerseo/332936-600x600-3.jpg" alt="OPPO Reno13 F 5G">
                <h3>OPPO Reno13 F 5G 8GB/256GB</h3>
                <div class="price-container">
                    <span class="current-price">9.610.000đ</span>
                    <span class="original-price">9.810.000đ</span>
                </div>
                <div class="progress-bar">
                    <div class="progress" style="width: 60%;"></div>
                </div>
                <span>Còn 4/10 suất</span>
            </div>
            <div class="product-card-large">
                <img src="https://cdn.tgdd.vn/Products/Images/42/334865/iphone-16e-trang-thumb-1-600x600.jpg" alt="iPhone 16e 256GB">
                <h3>iPhone 16e 256GB</h3>
                <div class="price-container">
                    <span class="current-price">17.190.000đ</span>
                    <span class="original-price">19.990.000đ</span>
                    <span class="discount-badge">-14%</span>
                </div>
                <div class="progress-bar">
                    <div class="progress" style="width: 100%;"></div>
                </div>
                <span>Còn 0/10</span>
            </div>
        </div>
    </section>

    <section class="recommendations">
        <h2>Gợi ý cho bạn</h2>
        <div class="product-grid">
            <div class="product-card2">
                <div class="product-image2">
                    <img src="https://cdnv2.tgdd.vn/mwg-static/tgdd/Products/Images/9499/330047/adapter-sac-3-cong-usb-type-c-iq3-67w-anker-a2674-thumb-638624473713249985-600x600.jpg" alt="Sạc 3 cổng Anker A2674">
                    <span class="badge hot-deal">GIÁ SỐC BẤT NGỜ</span>
                </div>
                <div class="product-info">
                    <h3>Sạc 3 cổng Anker A2674</h3>
                    <div class="price-info">
                        <span class="current-price">525.000₫</span>
                        <span class="original-price">785.000₫</span>
                        <span class="discount">-33%</span>
                    </div>
                    <div class="rating-sold">
                        <span><i class="fa fa-star"></i> 5</span>
                        <span>Đã bán 1,7k</span>
                    </div>
                </div>
            </div>
            <div class="product-card2">
                <div class="product-image2">
                    <img src="https://cdnv2.tgdd.vn/mwg-static/tgdd/Products/Images/9499/330047/adapter-sac-3-cong-usb-type-c-iq3-67w-anker-a2674-thumb-638624473713249985-600x600.jpg" alt="Sạc Anker Nano A2692">
                    <span class="badge hot-deal">GIÁ SỐC BẤT NGỜ</span>
                </div>
                <div class="product-info">
                    <h3>Sạc Anker Nano A2692</h3>
                    <div class="price-info">
                        <span class="current-price">390.000₫</span>
                        <span class="original-price">480.000₫</span>
                        <span class="discount">-18%</span>
                    </div>
                    <div class="rating-sold">
                        <span><i class="fa fa-star"></i> 5</span>
                        <span>Đã bán 551</span>
                    </div>
                </div>
            </div>
            <div class="product-card2">
                <div class="product-image2">
                    <img src="https://cdnv2.tgdd.vn/mwg-static/tgdd/Products/Images/9499/331886/adapter-sac-type-c-pd-gan6-pro-45w-baseus-picogo-ccgan45cs-thumb-638669184267329357-600x600.jpg" alt="Sạc Baseus PicoGo CCGAN45CS">
                    <span class="badge hot-deal">GIÁ SỐC BẤT NGỜ</span>
                </div>
                <div class="product-info">
                    <h3>Sạc Baseus PicoGo CCGAN45CS</h3>
                    <span class="online-price">Online giá rẻ quá</span>
                    <div class="price-info">
                        <span class="current-price">330.000₫</span>
                        <span class="original-price">490.000₫</span>
                        <span class="discount">-32%</span>
                    </div>
                    <div class="rating-sold">
                        <span><i class="fa fa-star"></i> 5</span>
                        <span>Đã bán 4k</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer-container">
            <div class="footer-section about">
                <h3>CỬA HÀNG ĐIỆN TỬ</h3>

                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-tiktok"></i></a>
                </div>
            </div>

            <div class="footer-section links">
                <h4>Liên kết nhanh</h4>
                <ul>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Chính sách bảo hành</a></li>
                    <li><a href="#">Chính sách đổi trả</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </div>

            <div class="footer-section contact">
                <h4>Liên hệ</h4>
                <p><i class="fas fa-map-marker-alt"></i> Vạn Hạnh Mall</p>
                <p><i class="fas fa-phone"></i> 0345 284 103</p>
                <p><i class="fas fa-envelope"></i> cskh@cuahangdientu.vn</p>
            </div>
        </div>

        <div class="footer-bottom">
            <p>&copy; 2025 Cửa hàng điện tử. Mọi quyền được bảo lưu.</p>
        </div>
        <div class="copyright">

            <p>
                Chuyên cung cấp điện thoại, laptop, phụ kiện chính hãng với giá ưu đãi.
                Cập nhật liên tục các chương trình khuyến mãi hot mỗi ngày!
            </p>


        </div>
    </footer>


</body>
</html>
